doctype html
html
  head
    meta(name='viewport', content='width=device-width, initia-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous")
    script(src="https://browser.sentry-cdn.com/4.5.3/bundle.min.js" crossorigin="anonymous")
    script(src="/javascripts/main.js")
  body
    block content
