body {
  background-color: antiquewhite;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(79, 160, 192);
}
/* 
.hcenter {
  text-align: center;
}

.middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.inputfile + label{
  background-color: blueviolet;
}


.inputfile + label div{
  height: 8em;
  width: 8em;
  border-radius: 50%;
  background-color: rgb(206, 81, 112);
} */


#area{
  visibility: hidden;
  height: 32vh;
  z-index: -999;
  background: seagreen;
}

.ascii{
  font-size: 1px;
  z-index: -10;
}

#result-wrapper{
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-around
}

form {
  display: inline-block;
}

.inputfile{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

#controls {
  position: fixed;
  bottom: 55%;
  left: 45%;
} 

.icon{
  background: tomato;
  color: white;
  border-radius: 50%;
  padding: 2em;
  left: 0px;
}

.submit{
  background: rgb(39, 147, 197);
  color: white;
  border-radius: 50%;
  padding: 0.5em;
  margin-right: 1vmin;
  left: -1vw;
  bottom: -0.9vw;
} 

.svg{
  width: 10vmin;
  height: 10vmin;
  fill: wheat
}


.left-bottom{
  display: inline-block;
  color: white;
  text-align: center;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  opacity: 0.8;
  box-shadow: 1px 1px 5px grey;
}


.middle{
  display: inline-block;
  color: white;
  text-align: center;
  cursor: pointer;
  position: relative;
  opacity: 0.8;
  box-shadow: 1px 1px 5px grey;
}

.left-bottom:hover{
  opacity: 1;
}

.font-control {
  background: seagreen;
  padding: 5px 12px;
  bottom: -0.9vw;
  opacity: 0;
}

.font-control-plus{
  left: -0.5vw;
}

.font-control-minus{
  left: -0.5vw;
}