body {
  background-color: antiquewhite;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(79, 160, 192);
}
/* 
.hcenter {
  text-align: center;
}

.middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.inputfile + label{
  background-color: blueviolet;
}


.inputfile + label div{
  height: 8em;
  width: 8em;
  border-radius: 50%;
  background-color: rgb(206, 81, 112);
} */


.inputfile{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

#area{
  visibility: hidden;
  height: 32vh;
  z-index: -999;
  background: seagreen;
}

#result-wrapper{
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: start;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-around
}

.item{
  grid-row-start: -2;
  grid-row-end: -1;
  grid-column-start: 1 ;
  grid-column-end: 1 ;
  justify-self: start;
  align-self: end;
  /* height: 25vh; */
  display: grid;
  /* grid-area: "a"; */
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
}

.icon{
  background: tomato;
  color: white;
  border-radius: 50%;
  justify-self: center;
  align-self: start;
  grid-row: 1 / span 2;
  grid-column: 1;
  padding: 2em;
}

.submit{
  background: rgb(39, 147, 197);
  color: white;
  border-radius: 10%;
  justify-self: center;
  align-self: center;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  padding: 0.5em;
}


.item-org{
  grid-row-start: 2 ;
  grid-row-end: 2 ;
  grid-column-start: 2 ;
  grid-column-end: 2 ;
  justify-self: center;
  height: 25vh;
  display: grid;
  /* grid-area: "a"; */
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
}

.icon-org{
  background: tomato;
  color: white;
  border-radius: 50%;
  justify-self: center;
  align-self: start;
  grid-row: 1 / span 2;
  grid-column: 1;
  padding: 2em;
}

.submit-org{
  background: rgb(39, 147, 197);
  color: white;
  border-radius: 10%;
  justify-self: center;
  align-self: center;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  padding: 0.5em;
}


.ascii{
  font-size: 1px;
  z-index: -10;
}

.font-control {
  background: seagreen;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  color: white;
  text-align: center;
  cursor: pointer;
}